<div id="sidebar">
	Welcome, <span id="logged-username"></span><br />
	Connection status: <b><span id="status"></span></b><br /><br />
	<div id="channels"></div>
	<a id="logout" href="#">Logout</a>
</div>
<div id="content">
	<div id="channel-name"></div>
	<div id="messages"></div>
	<div id="text">
		<input type="text" id="new-message" />
		<input type="submit" />
	</div>
</div>
