<%# html #%>
<%# body #%>
<%- include("header") -%>

<div id="wrap">
<div id="chat">
	<%- include("chat") -%>
</div>
<div id="login">
	<%- include("login") -%>
</div>
</div>

<%- include("footer") -%>
<%# /body #%>
<%# /html #%>
