
html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 17px;
	margin: 0;
	padding: 0;
	background: #fff;
	width: 100%;
	height: 100%;
}

#wrap{
	width: 100%;
	height: 100%;
}

#sidebar{
	background: #e6efff;
	height: 100%;
	padding: 10px;
	width: 20%;
	box-sizing: border-box;
	float:left;
}

#channels{
	margin-bottom: 20px;
}

#content{
	height: 100%;
	width: 80%;
	box-sizing: border-box;
	padding: 10px 0 0 10px;
	float: left;
}

#login{
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	text-align:center;
}

#channel-name{
	width: 100%;
	height: 5%;
	font-size: 26px;
	color: #606060;
}

#messages{
	width: 100%;
	height: 90%;
}

#messages .messages-channel::-webkit-scrollbar {
	width: 5px;
}

#messages .messages-channel::-webkit-scrollbar-thumb:vertical {
	margin: 5px;
	background-color: #999;
	-webkit-border-radius: 5px;
}

#messages .messages-channel::-webkit-scrollbar-button:start:decrement,
#messages .messages-channel::-webkit-scrollbar-button:end:increment {
	height: 5px;
	display: block;
}

#messages .message{
	padding-bottom: 10px;
}

#messages .messages-channel{
	height: 100%;
	overflow-y: scroll;
}

#messages .message .username{
	font-weight: bold;
	padding-bottom: 5px;
}

#messages .message .text{
	padding-left: 5px;
}

#new-message{
	border: 2px solid #c0c0c0;
	font-size: 17px;
	border-radius: 3px;
	width: 90%;
	height: 30px;
}

#text{
	width: 100%;
	height: 5%;
}

.unread-message-count{
	margin-left: 5px;
	padding: 5px;
	background: #99ccff;
	border-radius: 5px;
	font-size: 10px;
	color: white;
	display: none;
}

.user-joined{
	padding: 5px 0 10px 0;
	color: #c0c0c0;
}

.user-joined .channel-name{
	font-weight: bold;
}

.clear{
	clear: both;
}

.shadow{
	-webkit-box-shadow: 0px -1px 15px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 15px -2px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 15px -2px rgba(0,0,0,0.75);
}
