<%# html #%>
<%# body #%>
<%- include("header") -%>

<div id="wrap">
<div id="login">
	LOGIN PLS<br />
	<form method="get" action="chat">
		<input type="text" name="user" /><br />
		<input type="password" name="password" /><br />
		<input type="submit" />
	</form>
</div>
</div>

<%- include("footer") -%>
<%# /body #%>
<%# /html #%>
