<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="http://nickersoft.github.io/push.js/push.min.js"></script>
</head>


